.select-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.select-button select{
    margin-left:10px;
    height: 25px;
    width: 60px;
    background-color: #D9D9D9;
    border-radius: 6px;
}
@media screen and (max-width: 850px) {
    .select-button{
        flex-direction: column;
        margin-bottom: 10px;
        justify-content: center;
    }   
    .select-button select{
        width: 100%;
        margin-top: -10px;
        text-align: center;
        margin-right: 10px;
    }
}