.navbar {
    background-color: #ECB96A;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0px 10px;
    justify-content: space-between;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar-toggle {
    display: none;
    cursor: pointer;
}
.navbar-toggle span{
    display: block;
    width:  28px;
    height: 4px;
    margin-bottom: 4px;
    position: relative;
    background: #000000;
    border-radius: 3px;
}
.navbar-nav {
    list-style-type: none;
    display: flex;
    align-items: flex-end;
    margin-right: 5%;
    justify-content: flex-end;
    height: 100%;
}
  
.nav-item {
    font-size: 15px;
    height: 30px;
    display: flex;
}
  
.nav-link {
    color: #000000;
    text-decoration: none;
    padding: 0px 15px;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 20px;
}
  
.nav-link:hover {
    background-color: #385F4C;
    color: #fff;
}
.logo {
    color: #A63D17;
    font-weight: bold;
    font-style: italic;
    font-size: 28px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.logo:hover{
    color: #A63D17;
}
.first {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.acc{
    background-color: #4CAF50;
}
        
@media screen and (max-width: 500px) {
    .navbar-nav {
      display: none;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      padding: 0;
      margin: 0;
    }
    .first{
        width: 95%;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 15px;
    }
    .navbar{
        flex-direction: column;
        padding: 0;
        min-height: 50px;
        height: auto;
        width: 100vw;
    }
    .navbar-toggle {
        display: block;
    }
    .nav-item{
        width: 100%;
    }
    .nav-link {
        width: 100%;
        justify-content: center;
    
    }
    .navbar-nav.active {
        display: flex !important;
    }
   }