.rate-icon {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  border: 3px dashed #548a60;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #fff7dc;
}
.rate-icon:hover {
  cursor: pointer;
  border: 3px solid #548a60;
  .scale-up {
    scale: 1.1;
  }
}
